@font-face {
    font-family: 'ZillaSlab';
    src: url('../fonts/ZillaSlab-Regular.ttf');
}

@font-face {
    font-family: 'ZillaSlabLight';
    src: url('../fonts/ZillaSlab-Light.ttf');
}

@font-face {
    font-family: 'ZillaSlabMedium';
    src: url('../fonts/ZILLASLAB-MEDIUM.TTF');
}

@font-face {
    font-family: 'ZillaSlabBold';
    src: url('../fonts/ZillaSlab-Bold.ttf');
}

@font-face {
    font-family: 'WorkSans';
    src: url('../fonts/WorkSans-Regular.ttf');
}

@font-face{
    font-family: 'WorkSansLight';
    src: url('../fonts/WorkSans-Light.ttf');
}

@font-face {
    font-family: 'WorkSansMedium';
    src: url('../fonts/WorkSans-Medium.ttf');
}

@font-face {
    font-family: 'WorkSansBold';
    src: url('../fonts/WorkSans-Bold.ttf');
}


/* BACKGROUND */

html {
    background-image: url("../images/aracar_volcano-01.jpg");
}

body {
    background-color: rgba(112, 120, 128, 0) !important;
}


/* CONTAINER */



/* LEFT COLUMN */

.left-column, .col-6.left-column {
    background: rgba(112, 129, 146, 0.8);
}

h1.left-subtitle {
    font-family: 'ZillaSlab';
}

h2.left-title {
    font-family: 'ZillaSlabLight';
    color: #EFEFEF;
}

.left-title, .left-subtitle {
    color: #FFFFFF;
}


/* RIGHT COLUMN */

.right-column {
    background-color: #fefefe;
    -webkit-box-shadow: 9px 7px 36px 1px rgba(0,0,0,0.22);
    -moz-box-shadow: 9px 7px 36px 1px rgba(0,0,0,0.22);
    box-shadow: 9px 7px 36px 1px rgba(0,0,0,0.22);
}

img.rounded.mx-auto.d-block {
    max-width: 150px;
}

.form-control {
    border-radius: 0px;
    line-height: 2.5;
    border-color: #c4cfd4;
    font-family: 'WorkSans';
    font-size: 13px;
}

/* CUIT INPUT - ALERT */

.alert { 
    border-radius: 0rem;
}

.alert-danger {
    font-family: 'WorkSans';
}

.cuitSpinner {
    background: rgba(255, 255, 255, 0.12)url(http://www.jettools.com/images/animated_spinner.gif);
    background-repeat: no-repeat;
    background-size: 12%;
    background-position-x: right;
    background-position-y: center;
}



button.btn-select.dropdown-toggle.btn.btn-secondary {
    line-height: 2.5;
    border-radius: 0px;
    background: #ffffff;
    color: #959195;
    border-color: #c4cfd4;
    font-size: 13px;
    font-family: 'WorkSans';
}

/* Credit Selector  */

.credit-selectetor select.selector.form-control  {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: rgba(255, 255, 255, 1) url(http://motivatepublishing.com/wp-content/themes/motivate/images/arrow-down.png);
    background-repeat: no-repeat;
    background-size: 5%;
    background-position-x: right;
    background-position-y: center;
    background-origin: content-box;
    color: #8f979d;
}


/* Car Age Selector */

select.selector.form-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: rgba(255, 255, 255, 1) url(http://www.charbase.com/images/glyph/9662);
    background-repeat: no-repeat;
    background-size: 19%;
    background-position-x: right;
    background-position-y: center;
    background-origin: content-box;

}

select.form-control:not([size]):not([multiple]) {
    height: calc(2.25rem + 14.8px);
}

.spinnerLoanAsset {
    padding-top: 9px;
}

/* PLAN AREA */
h6.plan-title {
    font-family: 'WorkSansMedium';
    color: #3c505a;
}

p.plan-subtitle {
    font-family: 'WorkSans';
    color: #3c505a;
}

.grid-title {
    font-family: 'WorkSansMedium';
    color: #3c505a;
}


.list-group-item-action:hover, .list-group-item-action:focus {
    color: #495057;
    text-decoration: none;
    background-color: #7a8796;
}

.list-group-item-action p {
    font-size: 10px;
    color: #69788a;
    font-family: 'WorkSans';
}

.list-group-item-action:hover p, .list-group-item-action:focus p {
    font-size: 10px;
    color: #ffffff;
}

hr.hr-plan {
    width: 77%;
}

.list-group-item-action:hover hr, .list-group-item-action:focus hr {
    background-color: #c0d2df;
}

.list-group-item-action.planPressed {
    color: #495057;
    text-decoration: none;
    background-color: #7a8796;
}

.list-group-item-action.planPressed p {
    font-size: 10px;
    color: #ffffff;
}

.list-group-item-action.planPressed hr {
    background-color: #c0d2df;
}


button.btn.btn-primary {
    padding: 3% 19%;
    border-radius: 0px;
    background: #2e444f;
    border-color: #2e444f;
    font-family: 'WorkSansMedium';
}

button.btn.btn-primary:hover {
    background: #2E4F5B;
}

.border {
    border: 1px solid #9fabb5 !important;
}

.spaceBottom {
    margin-top: 8%;
}

/* Information Sent */

h2.right-title-thank-you {
    font-family: 'ZillaSlabLight';
    color: #798796;
}

h6.will-contact {
    font-family: 'WorkSans';
    color: #3c505a;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    display: none;
}